@charset "UTF-8";

.container {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(4, 1fr);
  gap: 10px;
}
.caixa1 {
  grid-area: 1 / 1 / span 1 / -1;
  background-color: lightblue;
}
.caixa2 {
  grid-area: 2 / 1 / -1 / 2;
  background-color: lightcyan;
}
.caixa3 {
  grid-area: 2 / 2 / -1 / -1;
  background-color: lightgray;
}
